#searchtool{
  margin-right: 15px;
  top: 60px;
  right: 90px;
  position: fixed;
  font-family: VistaSansOT_regular, Arial;
};
#parcelSelectorsLegend{
  margin-right: 15px;
  top: 120px;
  right: 330px;
  position: fixed;
  font-family: VistaSansOT_regular, Arial;
};
#fieldWrapper{
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color : white;
  right: 0;
  width: 220px;
  margin-bottom: 0px;
  height: 10px;
  margin-top:-10px;
};
#searchresults{
  right: 75px;
  top: 115px;
};
#fieldWrapper #searchfield{
  height: 28px;
  border-radius:4px;
};
#fieldWrapper #buttonSearchField{
  height: 28px;
};
#buttonSearchField{
  padding-top: 3px;
}

.close:hover{
  color: #fff;
  opacity: 1;
  padding-top: 10px;
  right: 10px;
  position: absolute;
  margin-top: -38px;
}

.selectedRmAutocompleteItem {
  background-color: #F1F1F2;
}

.parcelSelector, #cleanParcel {
  top: 8px;
}

.sectionInputContainer, .parcelleInputContainer {
  /*margin-left: 6%;*/
  margin-left: 2%;
}

.parcelSelectors {
  display: flex;
  position: fixed;
  top: 110px;
  right: 105px;
  display: flex;
  font-family: VistaSansOT_regular, Arial;
}

.parcelSelectorsContainer {
  display: flex;
  padding: 0.5% 4% 0.5% 2%;
}

@media (min-width: 768px) and (max-width: 813px) {
  .parcelSelectors {
    top: 110px;
  }
}
@media (min-width: 992px) {
  .parcelSelectors {
    right: 105px;
  }
}
.parcelSelector {
  border: solid 1px #ffffff;
}

.labelRechercheParcelle {
  color: #ffffff;
  margin-right: 7%;
}

#cleanParcel {
  margin-left: 3%;
  background-color: #4D4D4D;
  color: white;
  border-color: white;
}

#cleanParcel:hover {
  background-color: #ccc;
  color: #333;
  border-color: #333;
}

#modal-panel-selector .rm-popup-footer {
  position: relative;
  bottom: 0px !important;
}
