#searchtool{
  margin-right: 15px;
  top: 60px;
  right: 90px;
  position: fixed;
  font-family: VistaSansOT_regular, Arial;
};

#parcelSelectorsLegend{
  margin-right: 15px;
  top: 120px;
  right: 330px;
  position: fixed;
  font-family: VistaSansOT_regular, Arial;
};
#fieldWrapper{
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color : white;
  right: 0;
  width: 220px;
  margin-bottom: 0px;
  height: 10px;
  margin-top:-10px;
};
#searchresults{
  right: 75px;
  top: 115px;
};
#fieldWrapper #searchfield{
  height: 28px;
  border-radius:4px;
};
#fieldWrapper #buttonSearchField{
  height: 28px;
};
#buttonSearchField{
  padding-top: 3px;
}

searchresults-title .close:hover{
  color: #fff;
  opacity: 1;
  padding-top: 10px;
  right: 10px;
  position: absolute;
  margin-top: -38px;
}

.selectedRmAutocompleteItem {
  background-color: #F1F1F2;
}

.parcelSelector, #cleanParcel {
  top: 8px;
}

.sectionInputContainer, .parcelleInputContainer {
  /*margin-left: 6%;*/
  margin-left: 2%;
}

.parcelSelectors {
  display: flex;
  position: fixed;
  top: 110px;
  right: 105px;
  display: flex;
  font-family: VistaSansOT_regular, Arial;
}

.parcelSelectorsContainer {
  display: flex;
  padding: 0.5% 4% 0.5% 2%;
}

@media (max-width: 767px) {
  .parcelSelectors {
    right: 50px;
  }
}
@media (min-width: 768px) {
  .parcelSelectors {
    right: 105px;
  }
}
.parcelSelector {
  border: solid 1px #ffffff;
}

.labelRechercheParcelle {
  color: #ffffff;
  margin-right: 7%;
}

#cleanParcel {
  margin-left: 3%;
  background-color: #4D4D4D;
  color: white;
  border-color: white;
}

#cleanParcel:hover {
  background-color: #ccc;
  color: #333;
  border-color: #333;
}

#modal-panel-selector .rm-popup-footer {
  position: relative;
  bottom: 0px !important;
}

/*Gestion des CSS pour la recherche RVA & sitesOrg*/
.background-custom-searchtool{
  background-color: rgba(170, 170, 170, 0.5);
  width:358px;
  height:42px;
  position: relative;
  right: 100px;
  border-radius: 4px;
}

#fieldWrapper{
  border: 1px solid #aaa;
  right: -135px;
  width: 220px;
  top:-5px;
  border-radius: 4px;
  background-color : white;
  margin-top: -10px;
}

#fieldWrapper #searchfield{
  border-radius: 4px;
}

.searchRVALibelle{
  top: 12px;
  position: relative;
  right: -3px;
}

#buttonSearchField{
  height: 30px;
}

/*Gestion des css pour la recherche cadastrale*/
.background-custom-parcelSelectors{
  background-color: rgba(170, 170, 170, 0.5);
  width:502px;
  height:34px;
  right: -55px;
  position: relative;
  border-radius: 4px;
  top:-5px;
}

.background-custom-parcelSelectors #communeSearchContainer{
  right:156px;
  position: absolute;
  top:3px;
}

.background-custom-parcelSelectors #sectionInputContainer{
  right: 80px;
  position: absolute;
  top:3px;
}

.background-custom-parcelSelectors #parcelleInputContainer{
  right: 3px;
  position: absolute;
  top:3px;
}

.background-custom-parcelSelectors #parcelSelectorsLegend{
  right: 370px;
  position: absolute;
  top:9px;
}
