<button id="iconconfig" type="button" class="btn btn-default navbar-btn mv-navbar-btn" data-toggle="modal" data-target="#form-modal" i18n="help.modal.doc" title="Configuration">
    <span class="fas fa-cog"></span>
</button>

<div id="form-modal" class="modal fade in" role="dialog">
    <div id="config-modal" class="modal-dialog modal-lg" >
        <div class="modal-content" role="document">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="label-close">Fermer</span> ×</button>
                <h4 class="modal-title" i18n="help.modal.title">Configuration de la carte et des catégories</h4>
            </div>
            <div class="modal-body">
                <div id="mapTitlePart">
                    <label for="mapTitle" class="conflabel">Titre de la carte: </label>
                    <div class="confform">
                        <input type="text" value="Ma carte" name="mapTitleInput" id="mapTitleInput">
                    </div>
                </div>
                <div id="confcateg">
                    <label class="conflabel" for="mapTitle">Catégories : </label>
                    <div id="categoryPart" class="confform">
                        <table id="categTable" cellpadding=2 cellspacing=2>
                            <thead>
                                <tr>
                                    <th id="categnom">Nom</th>
                                    <th>Style</th>
                                    <th>Suppr.</th>
                                </tr>
                            </thead>
                            <tbody id='configLCateg'>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="confform">
                        <button id="addcategBtn" class="btn darkbtn" onclick="categories.addCategInConfigWindow()">Ajouter une catégorie</button>
                    </div>
                </div>
                <div id="confbuttons">
                  <button id="deleteAll" class="btn lightbtn" data-toggle="modal" data-target="#emptyconfirm-modal" i18n="help.modal.doc" title="Vider la carte">Vider la carte</button>
                  <button id="exportGeoJSON" class="btn cancel lightbtn" onclick="categories.exportGeoJSON()">Exporter les données</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="delete-modal" class="modal fade in" role="dialog">
    <div id="del-modaldial" class="modal-dialog modal-lg" >
        <div class="modal-content" role="document">
        
            <div class="modal-header">
                <h4 class="modal-title" i18n="help.modal.title">Suppression de la catégorie <label id="categorieASuppr" categid=""></label></h4>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fas fa-exclamation-circle"></i> Souhaitez-vous aussi supprimer les points associés à la catégorie ?
                </p>
                <p id="delbuttons" class="alig-center">
                  <button id="cancel" class="btn" data-dismiss="modal">Annuler l'action</button>
                  <button id="deleteCategAndPoints" class="btn" onclick="categories.delCategorie($('#categorieASuppr').attr('categid'),true)" data-dismiss="modal">Supprimer la catégorie et ses points</button>
                  <button id="deleteOnlyCateg" class="btn" onclick="categories.delCategorie($('#categorieASuppr').attr('categid'),false)" data-dismiss="modal">Supprimer seulement la catégorie</button>
                </p>
            </div>
        </div>
    </div>
</div>


<div id="emptyconfirm-modal" class="modal fade in" role="dialog">
    <div id="emptyconfirm-modaldial" class="modal-dialog modal-lg" >
        <div class="modal-content" role="document">
        
            <div class="modal-header">
                <h4 class="modal-title" i18n="help.modal.title">Vider la carte </h4>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fas fa-exclamation-circle"></i> Souhaitez-vous supprimer tous les points créés ? <br/>
                    Les catégories configurées seront conservées.
                </p>
                <p id="delbuttons" class="alig-center">
                  <button id="cancel" class="btn" data-dismiss="modal">Annuler l'action</button>
                  <button id="confirmEmptyMap" class="btn" onclick="categories.delAllPoints()" data-dismiss="modal">Confirmer</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="supprPtconfirm-modal" class="modal fade in" role="dialog">
    <div id="supprPtconfirm-modaldial" class="modal-dialog modal-lg" >
        <div class="modal-content" role="document">
        
            <div class="modal-header">
                <h4 class="modal-title" i18n="help.modal.title">Supprimer le point <label id="pointASuppr" ptid=""></label></h4>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fas fa-exclamation-circle"></i> Souhaitez-vous supprimer ce point de la carte ? <br/>
                </p>
                <p id="delbuttons" class="alig-center">
                  <button id="cancel" class="btn" data-dismiss="modal">Annuler l'action</button>
                  <button id="confirmEmptyMap" class="btn" onclick="categories.delPoint($('#pointASuppr').attr('ptid'))" data-dismiss="modal">Confirmer</button>
                </p>
            </div>
        </div>
    </div>
</div>


<div id="createPointOnMapTooltip" class="tooltip-btn">
    <button id="creatPtBtn" type="button" class="btn darkbtn" title="Configuration"><span class="far fa-save iconwtext"></span>Créer le point</button>
</div>
