stages:  
  - deploy

workflow:
  rules:    
    - if: '$CI_COMMIT_REF_NAME == "develop"'
      variables:
        ENV: "test"
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        ENV: "prod"
    


deploy-ansible:
  stage: deploy
  tags: 
    - SIG
    - deploy
  image: nexus.si.rennes.fr:5002/sig/ansible-runner:latest  
  script:    
    - ansible-galaxy collection install -r .deploy/requirements.yml
    - chmod 600 $GITLABRUNNERSIG_KEY
    - mkdir -p /root/.ssh
    - chmod 700 /root/.ssh
    - cp $GITLABRUNNERSIG_KEY /root/.ssh/GITLABRUNNERSIG_KEY
    - cp $ENV_FILE $CI_PROJECT_DIR/public/addons/env.json
    - | 
      ansible-playbook \
        -i .deploy/inventory \
        .deploy/playbook.yml \
        --extra-vars \
          "CI_PROJECT_DIR=$CI_PROJECT_DIR \
            CI_PROJECT_NAME=$CI_PROJECT_NAME \
            ENV=$ENV"
  rules:    
    - if: '$CI_COMMIT_REF_NAME == "develop"'
      when: on_success
    - if: '$CI_COMMIT_REF_NAME == "main"'
      when: manual
    
