/******************************************************************************
--------------- CSS THEME MVIEWER / composant slider photos + modale dédiée ----
********************************************************************************/


/* SCROLLBAR */
.carousel-inner::-webkit-scrollbar-track
{
}

.carousel-inner::-webkit-scrollbar
{
	width: 8px;
}

.carousel-inner::-webkit-scrollbar-thumb
{
	border-radius: 10px;
}


/* SLIDER PHOTO */
.slick-prev:before, .slick-next:before { 
    color: #555 !important;
}

.slick-slide {
    margin: 0px 0px;
    transition: all ease-in-out .3s;
    opacity: .75;
    text-align: center;
}
.slick-slide-image {
    display: inline-block!important;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #032E46;
    font-size: 8px;
}

.slick-arrow{
    z-index: 1080;
}

.slide-feature{
    width:80%;
    position:relative;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}
.slide-feature-popup{
    width:90%;
    height:95%;
    position:relative;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.iframe-popup {
    cursor: pointer;
    margin: auto;
}

.carousel-inner{
    padding-left: 30px;
    color: white;
    width:auto!important;
    overflow: auto!important;
}


/* FENETRES MODALES */

.modal-title{
		font-family:"vistaSansOT_regular";
		color:#555;
		font-size:16px;
}

.modal-body{
	color: #555;
	font-family: "vistaSansOT_regular";
	font-size: 12px;
	text-align: justify;
	padding-top: 0;
    height: 95%;
}


/* BLOCAGE MODALE NATIVE SUR IMAGES */

#imagepopup{
    display:none!important;
}



/* MODALE VISU MODALE */

@media (min-width: 768px) {
    .modal-lg-carousel {
        width: auto!important;
        height: 90%!important;
        /*padding: 0 5%!important;*/
        padding: 0!important;
        margin:30px 5% 0 5%!important;*/
    }
}

@media (max-width: 767px){
    .modal-lg-carousel {
        width: auto!important;
        height: auto!important;
        max-height:80%;
        min-height: 40%;
    }
}

#carousel-modal{
    z-index: 1080;
    height: 100%;
    padding:0!important;
}

#carousel-modal>.modal-content{
    height: 95%!important;
    width: 95%!important;
}

#carousel-body{
    padding-top: 0;
    padding-bottom:0;
}

#carousel-row{
    height: 100%!important;
}

#car-slideauto div{
    text-align:center;
    height: 100%;
}

#car-slideauto .text-credit {
    font-size: 11px;
}

.slide-car {
    height:100%;
}
.img_downld{
    border:solid;
    padding:5px;
    background-color: white;
    position: relative;
    top: 20px;
}

.car_centertag{
    height: 95%;
}

.car_photo{
    max-width: 100%;
    max-height: 100%;
    max-height: -webkit-fill-available;
}

.car-text-credit{
text-align: center!important;
}

.picture {
    text-align: -webkit-center!important;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}