/******************************************************************************
--------------------------- Autocomplete -------------------------
********************************************************************************/
$autocomplte-item-background-color : #37B6FA;
$autocomplte-background-color: white;
$autocomplete-max-height: 174px;
$autocomplete-title-color: #666666;
$autocomplete-item-color: #333;
$autocomplete-item-hover-color: #0205AF;
$autocomplte-items-padding: 4%;

#rm-autocomplete-list {
    background-color: $autocomplte-background-color;
    overflow: scroll;
    max-height: $autocomplete-max-height;

    li {
        list-style: none;
      }

  }

  .autocomplete-item:hover, .autocomplete-item:focus {
    background-color: $autocomplte-item-background-color;
  }

  #autocomplete-datas-list {
    padding-left: $autocomplte-items-padding;
  }

  .autocomplete-list-title {
    color: $autocomplete-title-color;
    font-style: italic;
  }

  .autocomplete-item {
    color: $autocomplete-item-color;
    font-style: normal;
  }

  .autocomplete-item-substr {
    color: $autocomplete-item-hover-color;
  }
