/******************************************************************************
--------------------------- printMap -------------------------
********************************************************************************/

$printMap-font-family: "VistaSansOT_regular", "Helvetica Neue",Helvetica,Arial,sans-serif;
$printMap-size: 1rem;
$printMap-margin-right-1: 2%;
$printMap-width-1: 95%;
$printMap-width-2: 100%;
$printMap-margin-top-1: 1%;
$printMap-margin-top-2: 3%;
$printMap-color-1: #A7A3A3;
$printMap-color-2: #C7C7C7;
$printMap-color-3: #333;
$printMap-color-4: #fff;
$printMap-color-5: #4d4d4d;
$printMap-border-width: 1px;
$printMap-border-style: solid;
$printMap-margin-right: 5%;


#printPage {
    margin: $printMap-size;
    padding: $printMap-size;
    font-family: $printMap-font-family;

    label{
        margin-right: $printMap-margin-right-1;
    }

    textarea {
        width: $printMap-width-1;
    }
}

.notesContainer {
    margin-top: $printMap-margin-top-1;
    display: flex;
}

.mapToPrint {
    width: $printMap-width-2;
    margin-top: $printMap-margin-top-2;
}

.exportMap {
    width: $printMap-width-2;
}

.printLabel {
    font-family: $printMap-font-family;
}

.printBtnContainer {
    margin-top: $printMap-margin-top-2;

    a {
        border: $printMap-border-width $printMap-border-style $printMap-color-1;
        background-color: $printMap-color-2 ;
        color: $printMap-color-3;
        text-align: center;
    }

    a:hover {
        color: $printMap-color-4;
    }
}

.legendContainer {
    display: flex;
}

.legendItem {
    margin-right: $printMap-margin-right;
}

#printPage_printBtn {
    background-color: $printMap-color-5;
    color: $printMap-color-4;
}