/******************************************************************************
--------------------------- CSS THEME MVIEWER / site_internet_gris ----------------------
********************************************************************************/

$theme-color-1: #4D4D4D;
$theme-color-2: #ffffff;
$text-color-1: #555;
$loader-color: rgba(3, 46, 70, 0.2);
$transparent: rgba(0,0,0,0);
$menu-background-color: #f8f8f8;

@import 'theme_RM';