/******************************************************************************
--------------------------- TooltipWMS -------------------------
********************************************************************************/

$tooltipWMS-width: 180px;
$tooltipWMS-background-color: #777;
$tooltipWMS-color: #f7f7f7;
$tooltipWMS-padding: 0.3%;

.tooltipWMS {
    position: fixed;
    width: $tooltipWMS-width;
    background-color: $tooltipWMS-background-color;
    display: none;
    color: $tooltipWMS-color;
    padding: $tooltipWMS-padding;
    text-align: center;
}