/******************************************************************************
--------------------------- CSS THEME MVIEWER / Story des projets urbains -----
********************************************************************************/

/*  Import du style du site internet  */
@import url("site_internet_gris.css");


/* FICHE INFO */
#right-panel.active {
    width:30%!important;
}


.rm-popup-text-feature {
    margin-top: 5%;
}


.text-credit{
    font-family:"vistaSansOT_bold";
    color:#555;
    font-size:9px;
    padding-right: 10px;
    padding-left: 10px;
}

.photo {
    max-height: 200px;
}

.art-espub {
    color:#e45e52;
}

.art-bati {
    color:#33919d;
}

.art-street {
    color:#f9a241;
}

.art-memoire {
    color:#8f9169;
}

