/******************************************************************************
--------------------------- CSS THEME MVIEWER / RENNES METROPOLE---------------
********************************************************************************/

/* Import des fonts*/
		@font-face {
		    font-family: 'roboto_black';
		    src: url('font/Roboto/Roboto-Black.ttf');
		}
		@font-face {
		    font-family: 'roboto_bold';
		    src: url('font/Roboto/Roboto-Bold.ttf');
		}
		@font-face {
		    font-family: 'roboto_regular';
		    src: url('font/Roboto/Roboto-Regular.ttf');
		}
		@font-face {
		    font-family: 'vistaSansOT_black';
		    src: url('font/Vista_Sans-OT/VistaSansOT-Black.otf');
		}
		@font-face {
		    font-family: 'vistaSansOT_bold';
		    src: url('font/Vista_Sans-OT/VistaSansOT-Bold.otf');
		}
		@font-face {
		    font-family: 'vistaSansOT_regular';
		    src: url('font/Vista_Sans-OT/VistaSansOT-Reg.otf');
		}
		@font-face {
		    font-family: 'vistaSansOT_italic';
		    src: url('font/Vista_Sans-OT/VistaSansOT-RegItalic.otf');
		}
        @font-face {
		    font-family: 'vistaSansOT_light';
		    src: url('font/Vista_Sans-OT/VistaSansOT-Light.otf');
		}
        @font-face {
		    font-family: 'vistaSansOT_light_italic';
		    src: url('font/Vista_Sans-OT/VistaSansOT-LightItalic.otf');
		}

/* Colors */
:root {
--darkmain: #000000;
--lightmain: #57B3B9;
--titlecolor: #DD3627;

}


/*******************************
         SCROLLBARS
********************************/
*::-webkit-scrollbar-track
{
    color:lightgrey;
}

*::-webkit-scrollbar
{
    width: 8px;
    background-color: lightgrey;
}


*::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    background:var(--titlecolor);
}
::-webkit-scrollbar-thumb:hover{
    background:var(--darkmain)!important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--titlecolor); lightgrey;
}

/*******************************
------------- NAVBAR
********************************/
.navbar-default{
	border-color:var(--darkmain);
}

.navbar-nav>li>a{
    color:#ffffff!important;
}

#mv-navbar{
	border-color:var(--darkmain);
	background-color: var(--darkmain);
}

.navbar-header.fixed-brand{
	background-color: var(--darkmain);
}

#mv-navbar a.navbar-brand, .mv-title{
	color:#ffffff!important;
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

@media screen and (max-width: 1000px){
  #mv-navbar a.mv-title{
    max-width: 100%;
    position:relative;
  }
}

@media screen and (max-width: 850px){
  #mv-navbar a.mv-title{
    font-size: 1.1em;
    max-width: 100%;
    position:relative;
  }
}

@media screen and (max-width: 500px){
  #mv-navbar a.mv-title{
    font-size: 0.65em;
    max-width: 100%;
    position:relative;
  }
}

p.navbar-text.mv-title{
	font-size: 18px;
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
	letter-spacing: 0.5px;
}

.navbar-default .navbar-toggle{
	border-color: #ffffff;
}

.glyphicon-th-large:before{
	color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:var(--darkmain);
}

.ol-control button {
  color: #fff!important;
  background-color: #000000!important;
}

.ol-control button:focus, .ol-control button:hover {
  background-color: var(--darkmain);
}

.gml-item-title {
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
	color:var(--darkmain);
    font-size: 24px;
}

.popup-content .nav-tabs > li.active > a, .popup-content .nav-tabs > li.active > a:hover, .popup-content .nav-tabs > li.active > a:focus {
  /*border-left: thick solid #000000!important;*/
  /*border-top:none;
  border-bottom:none;*/
    border:none;
}


/*
.popup-content .nav-tabs {
    border-right: solid!important;
    border-right-color: #333;
    border-right-width: 1px!important;
}
*/

#right-panel .mv-header {
  background-color: var(--darkmain);
  color: #fff;
}

#right-panel .mv-header h5{
  font-family: 'vistaSansOT_bold', sans-serif;
  font-size: 13px;
}

/*******************************
------------- MENU
********************************/

#sidebar-wrapper a{
	font-family:'vistaSansOT_regular', Arial, Sans-serif;
}

#menu>li>a{
	font-family:'vistaSansOT_bold', Arial, Sans-serif;
}

#menu li a:hover{
	border-left:#000000 0px solid;
	background:var(--darkmain);
	color: #f8f8f8;
}

.mv-nav-item{
	padding-left:10px;
}

.mv-checked:before {
    content:"\f058"!important;
}

.state-icon {
    margin-right: 5px;
}
span.state-icon.fas{
    padding-right: 10px;
    padding-top: 3px;
}

/*  badge du menu qui permet de sélectionner/déselectionner des couches en masse  */
.toggle-theme-layers .badge {
    font-family:'vistaSansOT_light', Arial, Sans-serif;
    font-size: 10px!important;
}

/*******************************
------------- BOTTOM PANEL
********************************/
#bottom-panel .mv-header h5{
	font-family:'vistaSansOT_bold', Arial, Sans-serif;
	color: var(--darkmain);
	font-size:13px;
}

.fa-chevron-down{
	color:#fff;
}
#bottom-panel-btn .fa-chevron-down {
    background: var(--darkmain);
}

/*******************************
-------------LEGEND LAYER
********************************/
@media (min-width: 768px){
    #legend-modal .modal-dialog {
        margin:0;
    }

    #legend-modal .modal-content {
        position: fixed;
        top: 75px;
        left: 10px;
    }
}

#legend-modal .modal-title {
  text-indent: -9999px;
  line-height: 0;
}
#legend-modal .modal-title::after {
  content: "Légende";
  text-indent: 0;
  display: block;
  line-height: initial;
}

#legend-modal .close {
  color: #000000!important;
  opacity: 1!important;
}

#layers-container a {
	color: var(--darkmain);
	font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    text-align: left;
    display: inline-block;
}

.form-group label {
	font-family: 'vistaSansOT_bold', Arial, Sans-serif;
}

#layers-container .mv-layer-options p {
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

.form-control{
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
	color:#555!important;
}

.mv-layer-options{
	color:#555!important;
}

/* Sub-title layers */
.selected-sld.fa span{
  font-style: italic;
  font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

/*Filtres*/
.selected-attribute.fa span{
  font-style: italic;
  font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

/* Opacité */
.mv-layer-options  .slider-selection{
	background:var(--darkmain);
}

.mv-layer-options .slider-handle {
    background: var(--darkmain);
}

.mv-layer-options .tooltip-inner{
	background-color:var(--darkmain);
	border-radius: 4px;
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

.mv-layer-options .tooltip.top .tooltip-arrow{
	border-top-color:var(--darkmain);
}

/* Temporalité */

.mv-layer-options  .form-group-timer .slider-selection{
	background:var(--darkmain);
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.slider.slider-horizontal .slider-tick-label-container{
	font-family:'vistaSansOT_regular', Arial, Sans-serif;
}

.slider-tick.round.in-selection{
	background: var(--darkmain);
	background-image: none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.form-group-timer .slider-tick.round{
	background:var(--darkmain);
	background-image:none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
	opacity: 1;
}

.form-group-timer .tooltip.bottom .tooltip-arrow{
	border-bottom-color:var(--darkmain);
}

.mv-layer-options  .form-group-timer .slider-track-high{
	background:var(--darkmain);
}

#layers-container-box-header {
  background-color: var(--darkmain);
}

span.mv-time-player-selection {
    color: #fff;
    font-size: 13px;
    background-color: var(--darkmain);
}


.layerdisplay-title > a, .layerdisplay-title >i{
    cursor: pointer!important;
}

span.text-big-legend {
    color: #000000!important;
    height: 100%;
}
/*******************************
------------- BASEMAP
********************************/

ul#basemapslist p {
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

ul#basemapslist  li.active{
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 3px 3px rgba(200, 200, 200, 0.5);
}

.ol-scale-line-inner{
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

#map {
    /*background: #e2e6ea!important;*/
    background: #d4e6f4!important;
}

/*******************************
------------- RIGHT PANEL
********************************/

h3.title{
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
	font-size: 24px;
	color:var(--darkmain);
	}

h4.title{
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    font-size: 16px;
    color:var(--darkmain);
}

.info{
	font-family:'vistaSansOT_regular', Arial, Sans-serif;
	}

/*******************************
------------- POPOVER
********************************/
.popover-content{
	font-family: 'vistaSansOT_regular', sans-serif!important;
}

.popover-title{
	font-family: 'vistaSansOT_bold', sans-serif!important;
}



/*******************************
------------- MODAL INFO PANEL
********************************/

#modal-panel .modal-content{
	font-family: 'vistaSansOT_regular', sans-serif!important;
    background-color: #fff;
    color: #333
    border-color: #bcbcbc;
}

#modal-panel .panel{
    border-color: #bcbcbc;
}

#modal-panel .panel-heading{
    background-color: var(--darkmain);
    color: #fff;
    /*
    background-color: #fff;
    color: var(--darkmain);
    */
}

#modal-panel .modal-title{
	font-family: 'vistaSansOT_bold', sans-serif!important;
    text-align: center;
    font-size: x-large;
   /*color #333;*/
}

/*******************************
------------- POPUP
********************************/

#right-panel .close {
    left: 10px!important;
    position: absolute;
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    font-size: 19px;
    width : 300px;
}

.popup-content {
    font-family: 'vistaSansOT_regular', Arial, Sans-serif!important;
}

.rm-popup-title-feature  {
    font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    /*color: #032E46;*/
    color : var(--titlecolor);
    font-size:23px;
    margin-bottom:1%;
    line-height:1;
    overflow-wrap: break-word;
}

.rm-popup-headerLevel2{
    font-family: 'vistaSansOT_bold';
    font-size: 15px;
    color: #555;
    text-decoration: underline;
}

.rm-popup-title-level2{
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    font-size: 18px;
    //color: #032E46;
    color : var(--titlecolor);
    margin-bottom:1%;
    line-height:1;
    overflow-wrap: break-word;
}

.rm-popup-subtitle-feature {
    font-family: 'vistaSansOT_light', Arial, Sans-serif;
    color:#555;
    font-size:11px;
    font-style:italic;
}

.rm-popup-label {
    font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color:#555;
}

.rm-popup-text-feature{
    /*font-family: 'vistaSansOT_light', Arial, Sans-serif;*/
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    color:#555;
    /*color: #863030;*/
    font-size:13px;
    margin-top:10px;
}


.rm-popup-alerte-legende{
    font-family:"VistaSansOT_italic";
    font-size:10px;
}

ul ul {
    list-style-type: none !important;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 5px;
    margin-left: 10px;
}

/*div#carousel-right-panel-1 {
    padding-left:5px;
    padding-right:25px;
    padding-bottom:70px;
}
*/
#right-panel div .carousel {
    padding-bottom:70px!important;
}

#right-panel .carousel-inner {
    padding-left: 10px!important;
    padding-right: 15px!important;
    /*padding-bottom:70px!important;*/
}

#right-panel .slide .carousel-control .glyphicon-chevron-left {
    margin-left: -35px;
}

#right-panel .active {
    padding-bottom: 0px!important;
}




/******* ONGLETS ********/

.popup-content .nav-tabs {
    border-width: 0px 1px 1px 0px;
    border-right-color:#bcbcbc;
    border-style: solid;
    overflow:auto;
    height:91%!important;
}


/* Li */
.popup-content .nav-tabs > li  {
    border-width: 0px 0px 1px 1px;
    border-color:#bcbcbc;
    border-style: solid;
    border-left: thick solid #000000!important;
}

.popup-content .nav-tabs > li.active  {
    border-left-width: medium!important;
    padding-bottom: 0px!important;
}


/* li.a */
.popup-content .nav-tabs > li > a:hover  {
    border-width: 0px 0px 0px 0px;
}

.popup-content .nav-tabs > li.active > a.background-not-def { background-color: #000000!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_vert { background-color: #8f9169!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_bleu { background-color: #33919d!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_vert-eau { background-color: #33c49d!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_violet { background-color: #bb3da2!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_rouge { background-color: #e45e52!important;}
.popup-content .nav-tabs > li.active > a.background-goutte_orange { background-color: #f9a241!important;}


/* li.a.fa */
/* .popup-content .nav-tabs > li > a > .fa {
    color: #000000!important;
    opacity: 0.55!important;
} */

.popup-content .nav-tabs > li > a.background-goutte_vert > .fa { color: #8f9169!important;}
.popup-content .nav-tabs > li > a.background-goutte_bleu > .fa { color: #33919d!important;}
.popup-content .nav-tabs > li > a.background-goutte_vert-eau > .fa { color: #33c49d!important;}
.popup-content .nav-tabs > li > a.background-goutte_violet > .fa { color: #bb3da2!important;}
.popup-content .nav-tabs > li > a.background-goutte_rouge > .fa { color: #e45e52!important;}
.popup-content .nav-tabs > li > a.background-goutte_orange > .fa { color: #f9a241!important;}

/* item number */
.popup-content .nav-tabs > li > a.bg-colored > .item-number {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: var(--darkmain);
    opacity: 0.7;
}

.popup-content .nav-tabs > li.active > a.bg-colored > .item-number {
    color: white;
}


/***** images ****/
.labelPictureEnlarge {
    font-family:"VistaSansOT_light_italic","roboto_regular";
    text-align: center;
    font-size: 11px;
}

.carousel-inner>.item>a>img {
    cursor: pointer;
}
#picture {
    text-align: center;
}
.photo {
    cursor: pointer;
    max-height: -webkit-fill-available;
    max-width: 100%;
}
.text-credit{
    font-family:"vistaSansOT_bold";
    color:#555;
    font-size:10px;
    padding-right: 10px;
    padding-left: 10px;
}

// Photo dans fenetre modale
.popphoto{
    cursor: default!important;
}

.popphotocredit{
    text-align:center;
}

/****** liens ******/
.lienweb:hover {
    text-decoration: underline dotted;
}
/*******************************
------------- BUTTON RIGHT TOOLBAR
********************************/
#toolstoolbar.btn-warning{
	background-color: var(--darkmain);
	border-color: var(--darkmain);
}

#toolstoolbar.btn-warning:hover{
	background-color: var(--darkmain);
	border-color: var(--darkmain);
}

#alerts-zone .alert.alert-info {
  background-color: var(--darkmain);
  color: #fff;
}

#alerts-zone .close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.datepicker .active {
    background-color: #000000!important;
}

.leftpanel-btn:hover {
   color: var(--darkmain);
}

/* Buttons tools*/
#drawtoolsoptions .btn-default.active, #drawtoolsoptions .btn-default:active, #drawtoolsoptions .btn-default.focus, #drawtoolsoptions .btn-default:focus {
	background-color:var(--darkmain);
	border-color:var(--darkmain);
}

/* Tooltip measure */

.tooltip2 {
  background: var(--darkmain);
  font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

.tooltip-measure-static {
  background-color: var(--darkmain);
  font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid var(--darkmain);
}

.tooltip-measure-static:before {
  border-top-color: var(--darkmain);
}

 /* custom-tooltip-feature */
.tooltip-feature.tooltip-inner {
    background-color: rgba(51, 51, 51, 0.95);
    padding: 8px 8px 8px;
    color: #fff;
    font-family: "vistaSansOT_regular", Arial, Sans-serif;
    font-size: 12px;
    letter-spacing: 1;
}

.tooltip.right .tooltip-feature.tooltip-arrow {
    border-right-color: rgba(51, 51, 51, 0.95);
}

.tooltip.top .tooltip-feature.tooltip-arrow {
    border-top-color: rgba(51, 51, 51, 0.95);
}

.tooltip.left .tooltip-feature.tooltip-arrow {
    border-left-color: rgba(51, 51, 51, 0.95);
}

.tooltip-feature h5 {
    margin-bottom: 0;
}

.tooltip-feature.tooltip.in {
    opacity: 1;
}

/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
    /*background-color: var(--darkmain);
    padding: 8px 8px 8px;
    color: #fff;
    font-family: "vistaSansOT_regular", Arial, Sans-serif;
    font-size: 11px;
    letter-spacing: 1;*/
    font-family: 'vistaSansOT_light', Arial, Sans-serif;
    /*width: 100px;*/
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: -50px;
    margin-top: -80px;
}
.rm-tooltip-title {
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    color: #FFFFFF;
}

.tooltip.right .mv-tooltip.tooltip-arrow {
    border-right-color: var(--darkmain);
}

.tooltip.top .mv-tooltip.tooltip-arrow {
    border-top-color: var(--darkmain);
}

.tooltip.left .mv-tooltip.tooltip-arrow {
    border-left-color: var(--darkmain);
}

/*******************************
------------- SEARCH TOOLBAR
********************************/

/* Searchresult */

#searchresults{
	font-family:'vistaSansOT_regular',Arial, Sans-serif!important;
	color: #555!important;
}

ul#searchparameters{
	font-family: 'vistaSansOT_regular',Arial, Sans-serif;
}

/* Search toolbar */

#searchresults li.list-group-item.disabled {
	background-color: var(--darkmain);
	border-color: var(--darkmain);
	color: white!important;
	font-family: 'vistaSansOT_bold', Arial, Sans-serif!important;
}

#searchresults li a:hover {
	font-family: 'vistaSansOT_bold', Arial, Sans-serif!important;
	color: #000000!important;
}

a:hover{
	color: var(--darkmain);
}

#searchtool .btn-default{
	color:var(--darkmain);
}

#parameterspanel .modal-header{
	color: #333;
	font-size: 13px;
	font-family: 'vistaSansOT_regular', Arial, Sans-serif!important;
}

.searchresults-title {
    background-color: var(--darkmain);
    color: #ffffff;
}

.searchresults-title .close{
    color: #ffffff;
}

.searchresults-title .close:hover{
    color: #ffffff !important;
}

.searchresults-title .close:focus{
    color: #ffffff !important;
}

/*******************************
------------- MAP OPTIONS
********************************/

/* Partager la carte*/
#sharepanel{
	font-family:'vistaSansOT_regular', Arial, Sans-serif;
}

a#permalinklink{
	font-family:'vistaSansOT_regular', Arial, Sans-serif;
}

.modal-content{
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

/*******************************
------------- HELP / DOCUMENTATION
********************************/

/* Help button */

button.btn.btn-default.navbar-btn.mv-navbar-btn{
	border-radius:50%;
	width:34px;
	height:34px;
	min-width:34px;
	border: 0px!important;
	font-family: 'vistaSansOT_black', Arial, Sans-serif;
	color:var(--darkmain);
	font-size: 15px;
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:hover{
	background-color: rgba(255, 255, 255, 0.89);
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:focus{
	background-color: rgba(255, 255, 255, 255);
}

/* Help panel */

#help .modal-content{
	font-family: 'vistaSansOT_regular', Arial, Sans-serif!important;
	height: auto;
}

#help .nav-tabs{
	border-bottom: 2px solid var(--darkmain);
}

#help .nav-tabs>li>a{
	border-radius: 0px 0px 0 0px!important;
	color: #555;
}

#help .nav-tabs>li.active>a{
	background-color: var(--darkmain);
	border-color: var(--darkmain);
	color: white!important;
}

#help .nav-tabs>li>a:hover{
	border-color: #eee #eee #000000!important;
}

#help a:hover{
	color: #000000!important;
}

#help .modal-title{
    font-size: 25px;
    font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color: var(--darkmain);
}

#help .tab-pane h4{
	font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color: var(--darkmain);
    font-size: 22px;
    margin-top: 20px;
}

#help .tab-pane h5{
	font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color: var(--darkmain);
    font-size: 16px;
    margin-bottom: 2px;
}

#help .tab-pane h6{
	font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color: var(--darkmain);
    font-size: 14px;
    margin-bottom: 2px;
}

#help .tab-pane p{
    color: #555;
    font-size: 13px;
    text-align: justify;
}

#help .tab-pane .visuel_tx{
    color: #555;
    font-size: 13px;
}

#help .tab-pane .visuel{
    text-align: center;
}

/*******************************
-------------CSS Fiche info GML
********************************/
.gml-item-field-name {
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

.gml-item-field-value{
	font-family: 'vistaSansOT_regular', Arial, Sans-serif;
}

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {
    border-top: 1.1em solid rgba(3, 46, 70, 0.2);
    border-right: 1.1em solid rgba(3, 46, 70, 0.2);
    border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
    border-left: 1.1em solid var(--darkmain);
}

.mv-iframe-indicator .loader {
    border-top: 1.1em solid rgba(3, 46, 70, 0.2);
    border-right: 1.1em solid rgba(3, 46, 70, 0.2);
    border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
    border-left: 1.1em solid var(--darkmain);
}


/*******************************
-------------EVOLUTION NB RESULTATS
********************************/
#popup-number-results {
    font-family: 'vistaSansOT_regular', Arial, Sans-serif;
    width:100px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-left: -50px;
    margin-top: -80px;
}

.sliderTopMargin{
	margin-top: 10px !important;
}


/********************************
------ CUSTOM ICONS -------------
********************************/

.piscineicon::before {
     content: '';
     display: inline-block;
     height: 2em;
     width: 2em;
     background: url(../img/icons/piscine-01.svg) no-repeat scroll;
     background-size: contain;
 }
!a>.piscineicon{
    padding: 5px 10px;
}
