/******************************************************************************
--------------------------- CSS THEME MVIEWER / CSS Fonds concours dircove -----
********************************************************************************/

/*  Import du style du site internet  */
@import url("../../site_internet/css/site_internet_gris.css");

/* FICHE INFO */
.title-2019-2020 {
    color:#f78b12;
}

.title-2021-2022 {
    color:#b22496;
}

.nav>li>a {
    padding:10px 12px 9px 12px!important;
}

/********************************
------ CUSTOM ICONS -------------
********************************/

.dircove_biodiv::before {
     content: '';
     display: inline-block;
     height: 2em;
     width: 2em;
     background: url(../img/marqueurs/DIRCOVE-05.svg) no-repeat scroll;
     background-size: contain;
 }
!a>.dircove_biodiv{
    padding: 5px 10px;
}

.dircove_enfance::before {
     content: '';
     display: inline-block;
     height: 2em;
     width: 2em;
     background: url(../img/marqueurs/DIRCOVE-03.svg) no-repeat scroll;
     background-size: contain;
 }
!a>.dircove_enfance{
    padding: 5px 10px;
}

.dircove_autres::before {
     content: '';
     display: inline-block;
     height: 2em;
     width: 2em;
     background: url(../img/marqueurs/DIRCOVE-02.svg) no-repeat scroll;
     background-size: contain;
 }
!a>.dircove_autres{
    padding: 5px 10px;
}

.ecobns{
  /*transform: rotate(-22deg); */
}