/* Colors */
:root {
	--gris_fonce: #4d4d4d;
	--gris_clair: #f8f8f8;
}

/****** BOUTON MENU         *******/
#iconconfig{
    margin-right:12px;
}

/******* PANNEAU DE DROITE  *******/
#right-panel.active {
    width:33%;
}
.carousel-inner {
    width: 100%!important;
}

.itemCateg{
    width:35px;
    height:50px;
    vertical-align: middle;
    margin-left:10px;
}

.rm-popup-text-feature input, textarea {
    margin-top:5px;
}


.labelarea {
    margin-top:5px;
    vertical-align: top;
}
/****** FENETRE CONFIG         *******/

#config-modal{  
  /*z-index: 1030;*/
}

.label-close{
  font-size: 16px;
}

#config-modal .conflabel{
  float:left;
  width: 15%;
  margin-top: 5px;
}
#config-modal .confform{
  width: 80%;
  margin-left:15%;
  margin-top: 5px;
}
#config-modal .confform>input{
  width: 100%;
}

#mapTitlePart, #confcateg {
    padding:10px 0 15px 0;
}

.lightkbtn, .lightkbtn:focus {
    font-size: 14px;
    background-color:var(--gris_clair);
    color:var(--gris_fonce);
    border-color: var(--gris_clair);
}
.lightbtn:hover{
    background-color:var(--gris_fonce);
    color:var(--gris_clair);
    --border-color: var(--gris_clair);
}

.darkbtn, .darkbtn:focus {
    font-size: 12px;
    background-color:var(--gris_fonce);
    color:var(--gris_clair);
    border-color: var(--gris_fonce);
}
.darkbtn:hover{
    background-color:var(--gris_clair);
    color:var(--gris_fonce);
    --border-color: var(--gris_fonce);
}

#categTable {
    width:100%;
}

#categTable tr td {
    padding: 5px;
    border: 1px solid #4d4d4d;
}

#categTable>thead th{
    text-align:center;
}

#categTable td:nth-child(1) {
  width: 25%;
  }

#categTabletd:nth-child(2) {
  width: 65%;
}

.categNameInput{
    width : 250px;
}

.categStyleConf>input{
    width:85px;
}


.confImg{
    width:35px;
    height:50px;
    vertical-align: middle;
    margin-left:10px;
}
.icones-value{
    width:50%
}

.alig-center{
    text-align: center;
}

#confbuttons {
    text-align:center;
}

.iconwtext{
    margin-right: 8px;
}

