/******************************************************************************
--------------------------- CSS THEME MVIEWER / PLUi -----------------
********************************************************************************/

/*  Import du style du site internet  */
@import url("../../site_internet/css/site_internet_gris.css");



#lienNru {
		border: none;
    	background-color: #fff;
		font-family: 'vistaSansOT_bold', Arial, Sans-serif;
	}

.plui-popup-text-feature{
	height: 70%;
	overflow-y: auto;
	}
	.plui-popup-footer {
	border: 2px solid;
	border-radius: 11%;
	padding: 2% 4% 2% 3%;
	color:#4d4d4d;
	list-style: none;
	}

	.plui-containerBottom {
		position: fixed;
		bottom: 19px!important;
		background-color: #ffffff;
		padding-top: 7%;
	  }

	  .plui-containerBottomOap {
		position: fixed;
		bottom: 44px!important;
		background-color: #ffffff;
		padding-top: 7%;
	  }

	  .plui-listeRefs {
		font-family: 'VistaSansOT_regular','roboto_regular', Arial, Sans-serif;;
	  }